@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --ashes-600: #e1e0ee;
  --dodger-blue-500: #1656AD;
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headings;
    text-transform: uppercase;
  }

  .anti-aliasing {
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
    -webkit-perspective: 1000;
  }
}

@layer components {
  .narrow-container {
    @apply px-4 md:px-6 xl:px-8 xxl:px-0 max-w-[1336px] mx-auto;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      @apply hidden
      /* for Chrome, Safari, and Opera */
      ;
    }
  }

  .grid-areas-product-page {
    grid-template-areas:
      'left-top right'
      'left-bottom right';
  }

  .grid-cols-product-page {
    grid-template-columns: minmax(56%, 500px) auto;
  }

  .grid-in-right {
    grid-area: right;
  }

  .grid-in-left-bottom {
    grid-area: left-bottom;
  }

  .top-index {
    z-index: 10 !important;
  }

  .logo-wrapper {
    box-shadow: 4px 0px 0px 0px #4d4d4d;
  }

  .product__img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 6, 6, 0.04);
  }

  .product__img:hover:not(.main__img)::after {
    background-color: rgba(19, 6, 6, 0.08);
  }
}